# project specific excludes
/com.ibm.streamsx.hbase/com.ibm.streamsx.hbase
/samples/*/doc/
doc
/tests/apps/*/doc
/tests/apps/*/output*
com.ibm.streamsx.hbase/doc/

# streams-specific excludes
toolkit.xml
impl/nl/include/*.h
impl/java/bin/
*.pm
# If you want to include a perl module, do
# !foo.pm



samples/*/output
samples/*/toolkit.xml
/samples/*/doc
$StreamsModel.java

# begin streamsx.hbase excluded
samples/*/data/*.out
.toolkitList
.namespace
samples/*/output_*


## java excludes
*.class

# Package Files #
*.jar
*.war
*.ear

## C++ excludes
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

